<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="15 seconds">
    <property name="DEVELOPER_HOME" value="E:\logs" />
    <property name="OPERATION_HOME" value="root/jarFiles/event" />

    <springProfile name="developer">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="developer">
        <!-- Simple file output -->
        <appender name="OPERATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${DEVELOPER_HOME}/Gateway.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${OPERATION_HOME}/Gateway/Gateway-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>1GB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>60</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="OPERATION_FILE" />
        </root>
    </springProfile>
5
    <springProfile name="operation">
        <!-- Simple file output -->
        <appender name="OPERATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${OPERATION_HOME}/Gateway.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/Gateway/Gateway-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>1GB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>60</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="OPERATION_FILE" />
        </root>
    </springProfile>

</configuration>